.sidenav---sidenav---_2tBP {
    background: #333;
}

.sidenav---sidenav---_2tBP a {
    font-weight: bold;
    font-size: 1.2em;
}

.sidenav---sidenav---_2tBP a i {
    font-size: 1.75em;
    position: absolute;
    left: 15px;
    top: 10px;
    color: #00a2d2;
}